{% extends "base.html" %}
{%block project%}
  <main class="container mt-3">
     <main class="container mt-3">
    <section>
      <h1 class="h1 text-center mx-auto mt-4 py-5"><strong>Поиск вакансий</strong></h1>
      <div class="row">
        <div class="col-12 col-md-8 col-lg-6 offset-lg-3 offset-md-2">
          <form action={% url 'search' %} class="form-inline mb-3" enctype="multipart/form-data">
            <div class="form-group col-8 col-md-10 pl-0">
              <input class="form-control w-100" type="search" placeholder="backend" aria-label="backend" name="search">
            </div>
            <div class="form-group col-4 col-md-2 pl-0">
              <button class="btn btn-primary w-100" type="submit">Найти</button>
            </div>
          </form>
          <p>Найдено:
            <a href="#" class="m-1 text-decoration-none">{{vacancies_t.count}} вакансий</a>
          </p>
        </div>
      </div>
    </section>
    <section>
      {% for vacancy in vacancies_t %}
      <h1 class="h1 text-center mx-auto mt-4 pt-5" style="font-size: 50px;"><strong>{{vacancy.title}}</strong></h1>
      <p class="text-center pt-1"></p>
      <div class="row mt-5">
        <div class="col-12 col-lg-8 offset-lg-2 m-auto">
          <div class="card mb-4">
            <div class="card-body px-4">
              <div class="row">
                <div class="col-12 col-md-8 col-lg-9">
                  <h2 class="h2 pb-2">{{vacancy.specialty.title}}</h2>
                  <p class="mb-2">{{vacancy.skills}}</p>
                  <p>От {{vacancy.salary_min}} до {{vacancy.salary_max}} руб.</p>
                  <p class="text-muted pt-1">9 декабря</p>
                </div>
                <div class="col-12 col-md-4 col-lg-3 d-flex align-items-end">
                  <a href={% url 'vacancy' vacancy.id %}><img src={{vacancy.company.logo.url}} width="130" height="80" alt=""></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </section>

  </main>
{% endblock %}